h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

body {
    background: #1E1E1E;
    margin: 20px;
}

label {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

input {
    position: relative;
    width: 300px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

button {
    width: 226px;
    height: 58px;
    left: 50px;
    top: 0px;

    background: #FFFFFF;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table,th,td {
    border: 2px solid #1a1818;
    width: 40%;
    background-color: #fff;
    border-spacing: 15px;
    border-collapse: collapse;
    border-spacing: 16px 33px;
    /* padding: 1rem; */
    padding: 0.5rem 4.5rem;
}
#table {
    /* border: 1px solid #fff; */
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 90%;
  }
  tbody {
    margin-top: 3rem;
    box-shadow: 3px 7px 24px #f3efef96;
  }